In [1]:
#Importação de bibliotecas
import pandas as pd
low_memory=False
import matplotlib.pyplot as plt
pd.options.display.max_columns = 80
pd.options.display.max_rows = 90

In [2]:
#Dados Brutos

candidatos2016 = pd.read_csv(r'datasets/consulta_candidato/consulta_cand_2016_SP.csv', delimiter=';', encoding='latin-1', usecols=['SQ_CANDIDATO','NR_CANDIDATO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO', 'SG_PARTIDO', 'NM_UE'])
candidatos2020 = pd.read_csv(r'datasets/consulta_candidato/consulta_cand_2020_SP.csv', delimiter=';', encoding='latin-1', usecols=['SQ_CANDIDATO','NR_CANDIDATO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO', 'SG_PARTIDO', 'NM_UE'])

bens_2016 = pd.read_csv(r'datasets/bens_candidato/bem_candidato_2016_SP.csv', delimiter=';', encoding='latin-1', decimal=',', usecols=['SQ_CANDIDATO','VR_BEM_CANDIDATO'])
bens_2020 = pd.read_csv(r'datasets/bens_candidato/bem_candidato_2020_SP.csv', delimiter=';', encoding='latin-1', decimal=',', usecols=['SQ_CANDIDATO','VR_BEM_CANDIDATO'])

In [4]:
candidatos2016.head()

,NM_UE,SQ_CANDIDATO,NR_CANDIDATO,NM_CANDIDATO,NM_URNA_CANDIDATO,SG_PARTIDO
0,SÃO JOÃO DO PAU D'ALHO,250000042993,43,IDEVALTE UNGARI,NENO,PV
1,SÃO SEBASTIÃO DA GRAMA,250000033411,22,RAFAEL MASCHERIN MONTOURO,RAFA DO GÁS,PR
2,SÃO PAULO,250000019188,14010,GLEISON JOÃO GOMES PEGO,GLEISON PEGO - MINEIRO,PTB
3,ARARAQUARA,250000015204,14140,DIVA APARECIDA LORANDO,DIVA DA SANTA CASA,PTB
4,SANTOS,250000039689,43222,ORLANDO COUTO JUNIOR,PROFESSOR ORLANDO,PV

In [5]:
bens_2016.head()

   SQ_CANDIDATO  VR_BEM_CANDIDATO
0  250000004546          250000.0
1  250000004546           95000.0
2  250000004546          350000.0
3  250000004547          224777.2
4  250000004547           51000.0

In [6]:
soma_bens_16 = bens_2016.groupby('SQ_CANDIDATO').sum()

In [7]:
soma_bens_16.head()

              VR_BEM_CANDIDATO
SQ_CANDIDATO
250000004546         695000.00
250000004547         275777.20
250000004548         139387.96
250000004549          17704.00
250000004550         190884.38

In [8]:
cand_merge_bens_16 = pd.merge(candidatos2016, soma_bens_16, how='left', left_on=['SQ_CANDIDATO'], right_on=['SQ_CANDIDATO'])

In [13]:
cand_merge_bens_16.head(10)

,NM_UE,SQ_CANDIDATO,NR_CANDIDATO,NM_CANDIDATO,NM_URNA_CANDIDATO,SG_PARTIDO,VR_BEM_CANDIDATO
0,SÃO JOÃO DO PAU D'ALHO,250000042993,43,IDEVALTE UNGARI,NENO,PV,192000.0
1,SÃO SEBASTIÃO DA GRAMA,250000033411,22,RAFAEL MASCHERIN MONTOURO,RAFA DO GÁS,PR,257000.0
2,SÃO PAULO,250000019188,14010,GLEISON JOÃO GOMES PEGO,GLEISON PEGO - MINEIRO,PTB,NaN
3,ARARAQUARA,250000015204,14140,DIVA APARECIDA LORANDO,DIVA DA SANTA CASA,PTB,NaN
4,SANTOS,250000039689,43222,ORLANDO COUTO JUNIOR,PROFESSOR ORLANDO,PV,440000.0
5,RIO GRANDE DA SERRA,250000006369,51234,MARIA APARECIDA BARBOSA SANTOS,MISSIONARIA CIDA SANTOS,PATRIOTA,220000.0
6,PIRACAIA,250000090705,17126,JOSE BUENO,ZÉ PINGÓ,PSL,NaN
7,CAIUÁ,250000032612,45123,MARIA LUCIA DE JESUS FREITAS,LENI DA SAUDE,PSDB,NaN
8,MONTE CASTELO,250000053454,13123,ANTONIO SALUSTRIANO DE FARIAS,TONHO SALÚ,PT,7000.0
9,CHARQUEADA,250000041043,40111,VALTER APARECIDO TREVISAN,TICO TREVISAN,PSB,50000.0

# Candidatos reeleitos de São José dos Campos

* Dulce Rita (PSDB) - 8.459 (2,43%) -                   | 250000693458
* Dr. Elton (MDB) - 7.395 (2,13%) -                     | 250000637943
* Amélia Naomi (PT) - 5.240 (1,51%) -                   | 250000753710
* Marcão da Academia ao Ar Livre (DEM) - 4.470 (1,28%)  | 250000809155
* Robertinho da Padaria (Cidadania) - 4.412 (1,27%)     | 250000693849
* Juvenil Silvério (PSDB) - 4.119 (1,18%) -             | 250000693451
* Lino Bispo (PL) - 3.841 (1,10%) -                     | 250001044545
* Roberto do Eleven (PSDB) - 3.711 (1,07%) -            | 250000693448
* Walter Hayashi (PSC) - 2.885 (0,83%) -                | 250000681757
* Juliana Fraga (PT) - 2.689 (0,77%) -                  | 250000753707
* Zé Luís (PSD) - 1.908 (0,55%) -                       | 250000643180